.dismissableblocks.dismissed {
  display: none;
}

.dismissableblocks .button--dismiss {
  position: absolute;
  top: 0.75rem;
  right: 3rem;
  color: transparent;
  box-shadow: none;
  border-color: transparent;
  text-indent: -99999px;
  padding: 0;
  background-color: transparent;
  height: 1.25rem;
  width: 1.25rem;
}
.dismissableblocks .button--dismiss .icon-close {
  background-image: url(../../../../core/misc/icons/787878/ex.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  /* Alternative to background-image if we need to change color
  mask-image: url(../../../../core/misc/icons/787878/ex.svg);
  -webkit-mask-size: 16px 16px;
  mask-size: 16px 16px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-color: #fff;
  */
}

.dismissableblocks-disclaimer-modal.ui-widget.ui-front {
  --db-gin-border-color-layer: var(--gin-border-color-layer, rgba(0, 0, 0, 0.08));
  --db-gin-border-m: var(--gin-border-m, .5rem);
  --db-gin-bg-app: var(--gin-bg-app, rgb(249, 251, 248)); 

  z-index: 1000;
  border: var(--db-gin-border-m) solid var(--db-gin-border-color-layer);
  background: none;
  border-radius: var(--db-gin-border-m);
}

.dismissableblocks-disclaimer-modal.ui-widget.ui-front >*{
  background: var(--db-gin-bg-app);
}
.dismissableblocks-disclaimer-modal.ui-dialog .ui-dialog-titlebar {
  line-height: 1.2;
  border-bottom: none;
  position: relative; 
}
.dismissableblocks-disclaimer-modal.ui-widget .ui-widget-content.ui-dialog-content {
  padding-inline: 1.5rem;
  border-top:none;
}
.dismissableblocks-disclaimer-modal.ui-widget .ui-widget-content.ui-dialog-buttonpane {
  padding: .5rem 1.5rem;
  border-top: none;
}

.dismissableblocks-disclaimer-modal button:hover,
.dismissableblocks-disclaimer-modal button:focus,
.dismissableblocks-disclaimer-modal button{
  border-radius: var(--db-gin-border-m);
  border-color: var(--db-gin-border-color-layer);
}
